@font-face {
    font-family: 'Retro';
    src: url(./fonts/SFRetroSpliceCondensed.ttf) format('truetype');
}

html {
    background-color: #0f0766; 
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Retro';
    justify-content: center;
    align-items: center;
    font-weight: bolder
}

#interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid #ab0e86; 
    max-width: 800px;
    width: 90%;
    height: auto;
    padding: 0px;
    margin: 0px;
    background-color: #59057b;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10%;
    -moz-box-shadow: 0 0 30px #FF3131;
    -webkit-box-shadow: 0 0 30px #FF3131;
    box-shadow: 0 0 30px #FF3131;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 84px;
    color: #e01171; 
    padding: 10px;
    font-weight: bolder;

}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    color:  #e01171;
    font-size: medium;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    gap: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#grid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    width: 80%;
    background-color: #ab0e86; 
    border: solid 5px  #ab0e86;
    aspect-ratio: 1/1;
    margin: 10px;
    border-radius: 5px;
}

#toggles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    width: 10%;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red{
    background-color: red;
}

.random {
    background:  linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}

#grid-size-btn {
  background-color:  #e01171; 
  font-weight: bolder;
}

#color-picker,
#reset-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e01171; 
}

#reset-btn {
    color: #0f0766;
    font-weight: bolder;
}

#grid-size-btn {
    color: #0f0766; ;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

#color-picker::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}

#grid-size-btn,
#color-btn-preset,
#color-btn-random {
    width: 100%;
    height: 20px;
    border-radius: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #0f0766;
}

.intro-para1 {
    text-align: left;
}

.intro-para2 {
    text-align: right;
}

.grid-row16 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 16);
}

.grid-element16 {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 16);
    aspect-ratio: 1;
    background-color: white;
    border: solid 1px gray;
}

.grid-row32 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 32);
}

.grid-element32 {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 32);
    aspect-ratio: 1;
    background-color: white;
    border: solid 1px gray;
}

.grid-row32 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 32);
}

.grid-element32 {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 32);
    aspect-ratio: 1;
    background-color: white;
    border: solid 1px gray;
}

.grid-row48 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 48);
}

.grid-element48 {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 48);
    aspect-ratio: 1;
    background-color: white;
    border: solid 1px gray;
}

.grid-row64 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 64);
}

.grid-element64 {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 64);
    aspect-ratio: 1;
    background-color: white;
    border: solid 1px gray;
}

.grid-row80 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 80);
}

.grid-element80 {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 80);
    aspect-ratio: 1;
    background-color: white;
    border: solid 1px gray;
}

.grid-row96 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 96);
}

.grid-element96 {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 96);
    aspect-ratio: 1;
    background-color: white;
    border: solid 1px gray;
}